.vinetapadre
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 0em;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    border-color: #fa6400;
    border-style: solid;
}

.imagecenter
{
    align-self: center;
    justify-self: center;
    border-color: #fa6400;
    border-style: solid;
    border-radius: 100%;

}

.vinetahija
{
    grid-column: 2;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    width: fit-content;
}

.combustible
{
    align-self: center;
    justify-self: center;
}

.marca
{
    align-self: center;
    justify-self: center;
}

.direccion
{
    align-self: center;
    justify-self: center;
}

/* CSS */
.boton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  height: 2em;
  width: 8em;
  align-self: center;
  justify-self: center;
}

.boton:hover,
.boton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.boton:hover {
  transform: translateY(-1px);
}

.boton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.gasStationLogo{
  width: auto;
  height: auto;
  max-width: 10vw;
  max-height: 18vh;
  padding: 4px 2px;
}